@import 'mixin.scss';
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,300,700);


.wrapper {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

body {
  font-size: 1em;
  height: 100%;
  background: #FFFFFF;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
}
.slider{
  font-family: 'Ubuntu' !important;
}

a{
  color: #888888;
  text-decoration: none;

  &:hover{
    color: #000;
    @include transition(ease 1s all);
  }
}

.left{
  float: left;
}

.menu{
  li{
    float: left;
    margin-right: (20em/16);
    a{
      text-transform: uppercase;
    }
  }
}

#header{
  padding-top: (50em/16);
  .logo-wrapper{
    float: left;
    .logo{
      img{
        float: left;
      }
      .left{
        margin: 0  0 0 (10em/16);
      }
      h1{
        font-size: (42em/16);
        text-transform: uppercase;
        font-weight: 700;

        .logo-name{
          color:#333;
        }
      }
      .logo-tag-line{
        font-size: (12em/16);
      }
    }
  }

  .wrapper{
    border-bottom: 3px solid #eaeaea;
    padding: 20px 0 24px;
  }
  .menu-wrapper{
    display: block;
    float: left;
    margin: (44em/16) 0 0 (125em/16);
  }

  .social-wrapper{
    float: right;
    .social{
      li{
        float: left;
        margin: 0 0 0 (10em/16);
        a{
          font-size: (22em/16);
        }
      }
    }
  }
}
